<html>
    <head>  
        <title>Home Page</title>
            <body>
                <div class = "row">
                    <div class = "col-12">
                        <form method = "get">
                        <div>
                            <lable>Value 1</label>
                            <input type ="text" name ="num 1" class = "Form-control"/>
                        </div>
                        <br/>
                        <div>
                            <select name="opr" class="form-control"/>\
                                <option value="+">+</option>
                                <option value="-">-</option>
                                <option value="*">*</option>
                                <option value="/">/</option>
                            </select>
                        </div>
                        <br/>
                        <div>
                            <label>Value 2</label>
                            <input type ="text" name = "num 1" class = "Form-control"/>
                        </div>
                        </form>
                    </div>
                </div>
            </body>
        </title> 
    </head>
</html>







